<table style="width:100%;">
{{#each apps}}
<tr>
    <td><a href='http://{{../localhostname}}:{{port}}'>{{name}}</a></td>
    <td>:{{port}}</td>
    <td>
        <label class="switch">
            <input type="checkbox" {{#if state}}checked{{/if}} onchange="set_app_state('{{name}}', this.checked)">
            <span class="slider"></span>
        </label>
    </td>
</tr>
{{/each }}
</table>
<hr>
<h2>RPi4 controller</h2>
<br>
<table style="width:100%">
{{#each other_data}}
<tr>
    <td>{{key}}</td>
    <td><code>{{value}}</code></td>
</tr>
{{/each }}
</table>