{{#each apps}}
<div>
    <a href='{{../localhostname}}:{{port}}'><h3>{{name}}</h3><h4>{{name}}</h4></a>
    <label class="switch">
        <input type="checkbox" {{#if on}}checked{{/if}}>
        <span class="slider"></span>
    </label>
    <br>
</div>
{{/each }}
<hr>
<h2>RPi4 controller</h2>
<code>ssh pi@factory.local</code>
<br>
{{#each other_data}}
<tr>
    <td>{{key}}</td>
    <td><code>{{value}}</code></td>
</tr>
{{/each }}
<!--{hostname, uname, pwd, uptime, cpu temperature, free memory, cpu usage, usb devices}-->
<button onClick="restartPi()">RESTART</button>
<hr>
Safety warning